			*{
				margin: 0;
				padding: 0;
			}
			.box{
				position: relative;
				margin: 0 auto;
				width: 1000px;
				height: 1000px;
				/* border: 1px solid red; */
			}
			.img1{
				position: absolute;
				animation: move1 6s infinite ;
				
			}
			.img2{
				position: absolute;
				animation: move1 6s infinite ;
				animation-delay: -2s;
			}
			.img3{
				position: absolute;
				animation: move1 6s infinite ;
				animation-delay: -4s;
			}
			@keyframes move1{
				0%{width: 100px;height: 100px;left: 0;top: 0;opacity: 0.4;}
				40%{width:200px;height: 200px;left:350px;top:300px;transform: rotate(60deg);opacity: 1;}
				70%{width: 100px;height: 100px;left: 700px;top: 0px;transform: rotate(60deg);opacity: 0.5;}
				100%{width: 100px;height: 100px;left: 0px;top: 0px;transform: rotate(0px);}
			}